# Lab 16 Assignment 3 - Group Assignment

When creating ML models, the concept of efficiency has three sides:
1. The time dedicated by the analyst to build the model
2. The computer time and resources needed by the final model
3. The accuracy of the final model

Efficiency is a combination of all

In this assignment, you are asked to be efficient. Spark is the best tool to build models over massive datasets

If you need to create Spark+Python Machine Learning models that "run fast" on the  cluster, you must avoid using Python code or working with RRD+python. Try to use  the already existing methods that do what you need (do not reinvent the wheel).

Therefore try to use the implemented object+methods inside the Spark SQL and ML modules. They are very fast, because it is compiled Java/Scala code. Try to use: DataFrames, Feature Transfomers, Estimators, Pipelines, GridSearch, CV, ...

For this assignment, you are asked to create a classification model that:
1. Uses the variables in the dataset (train.csv) to predict label "loan_status"
2. Write a python scripts that:
    - Reads the "train.csv" and "test.csv" files, transform and select variables as you wish.
    - Train/fit your model using the "train.csv".
    - Predict your model on the "test.csv" ( you should generate a file with your predictions).
    - I will use a different test dataset (with the true loan_status).

Your work will be evaluated under the following scoring schema
- (40%) ETL process
- (40%) Model train process
- (10%) Code Readability 
- (10%) AUC on the test set (at least 50%)

Enjoy it and best of luck!!

This Assignment is based on kaggle competition https://www.kaggle.com/c/loan-default-prediction from where a sub-dataset has been taken.

### File descriptions
**train.csv** - the training set (to use for building a model)

**test.csv** - the test set (to use for applying predictings)

**sample_submission.csv** - a template for the submission file

### Data Description (also contained in LendingClub_DataDescription.csv)
**ID**: A unique LC assigned ID for the loan listing.

**loan_amnt**: The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.

**loan_status**: Current status of the loan (**Target**: 1 = Charged Off, 0 = Fully Paid).

**term**: The number of payments on the loan. Values are in months and can be either 36 or 60.

**int_rate**: Interest Rate on the loan.

**installment**: The monthly payment owed by the borrower if the loan originates.

**emp_length**: Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.

**home_ownership**: The home ownership status provided by the borrower during registration. Our values are: OTHER/NONE, MORTGAGE, OWN, RENT.

**annual_inc**: The self-reported annual income provided by the borrower during registration.

**purpose**: A category provided by the borrower for the loan request.

**title**: The loan title provided by the borrower.

**STATE**: The state provided by the borrower in the loan application.

**delinq_2yrs**: The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years.

**revol_bal**: Total credit revolving balance.  revolve a balance -- that is, not pay it off at the end of the month 

**revol_util**: Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.

**total_pymnt**: Indicates total payment at the end of the loan.

In [1]:
import os
import sys

os.environ['SPARK_HOME'] = "C:\\spark-2.3.2-bin-hadoop2.7\\"

# Create a variable for our root path
SPARK_HOME = os.environ['SPARK_HOME']

#Add the following paths to the system path. Please check your installation
#to make sure that these zip files actually exist. The names might change
#as versions change.
sys.path.insert(0,os.path.join(SPARK_HOME,"python"))
sys.path.insert(0,os.path.join(SPARK_HOME,"python","lib"))
sys.path.insert(0,os.path.join(SPARK_HOME,"python","lib","pyspark.zip"))
sys.path.insert(0,os.path.join(SPARK_HOME,"python","lib","py4j-0.10.7-src.zip"))

#Initialize SparkSession and SparkContext
from pyspark.sql import SparkSession

#Create a Spark Session
spark = SparkSession \
    .builder \
    .master("local[2]") \
    .appName("MiPrimer") \
    .config("spark.executor.memory", "6g") \
    .config("spark.cores.max","4") \
    .getOrCreate()


#Get the Spark Context from Spark Session    
sc = spark.sparkContext

In [2]:
import numpy as np
import pandas as pd
from pyspark.sql.functions import col
from pyspark.sql import functions as f
from pyspark.ml.feature import Normalizer, Imputer, StringIndexer, OneHotEncoderEstimator
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator, CrossValidatorModel
from pyspark.ml.param import Params
from pyspark.ml import Pipeline, PipelineModel
from pyspark.ml.classification import LogisticRegression,LogisticRegressionModel, RandomForestClassifier,GBTClassifier

### 1. Read the files into a Dataframes and show them

In [3]:
loanDF = spark.read.format('csv') \
           .option("inferSchema", "true") \
           .option("header","true")\
           .option("delimiter", ";") \
           .load('../data/train.csv') 

testDF = spark.read.format('csv') \
            .option("inferSchema", "true") \
            .option("header","true")\
            .option("delimiter", ";") \
            .load('../data/test.csv')

### 2. Analizing null values, cross tables distribution and covariances

#### 2.1. Null values

In [4]:
loanDF_empty=loanDF.select([f.count(f.when(col(c).isNull() | f.isnan(c), c)).alias(c) for c in loanDF.columns])
print('Total number of rows = {0}. Total number of missing values, per column:'.format(loanDF.count()))
loanDF_empty.toPandas()

Total number of rows = 29755. Total number of missing values, per column:

,ID,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,purpose,title,STATE,delinq_2yrs,revol_bal,revol_util,total_pymnt,loan_status
0,0,0,0,0,0,0,0,0,1229,1238,1239,1239,1239,1275,1239,0

#### 2.2. Cross table distribution

In [5]:
cross_list=[x for x in loanDF.columns if x in ['term','emp_length','home_ownership','STATE']]
[loanDF.crosstab(c,'loan_status').show() for c in cross_list]

+----------------+-----+----+
|term_loan_status|    0|   1|
+----------------+-----+----+
|       60 months| 6203|1846|
|       36 months|19327|2379|
+----------------+-----+----+

+----------------------+----+----+
|emp_length_loan_status|   0|   1|
+----------------------+----+----+
|               5 years|2149| 348|
|               6 years|1435| 235|
|               3 years|2675| 387|
|               8 years| 950| 160|
|                1 year|2097| 343|
|              < 1 year|2968| 478|
|               9 years| 820| 120|
|                   n/a| 622| 170|
|               4 years|2245| 346|
|             10+ years|5599|1006|
|               7 years|1127| 205|
|               2 years|2843| 427|
+----------------------+----+----+

+--------------------------+-----+----+
|home_ownership_loan_status|    0|   1|
+--------------------------+-----+----+
|                     OTHER|   60|   9|
|                       OWN| 1950| 322|
|                  MORTGAGE|11514|1774|
|                      RENT|12003|2120|
|                      NONE|    3|   0|
+--------------------------+-----+----+

+-----------------+----+---+
|STATE_loan_status|   0|  1|
+-----------------+----+---+
|               MA| 833|115|
|               IN|   6|  0|
|             null|1065|174|
|               ID|   3|  0|
|               NM| 126| 19|
|               OR| 254| 53|
|               IA|   5|  0|
|               IL| 952|135|
|               TN|  12|  2|
|               MO| 392| 81|
|               ME|   1|  0|
|               AZ| 565| 86|
|               AK|  41| 10|
|               VT|  36|  5|
|               WA| 498| 97|
|               SD|  36|  7|
|               KY| 206| 33|
|               NJ|1124|204|
|               TX|1749|228|
|               MI| 458| 77|
+-----------------+----+---+
only showing top 20 rows

[None, None, None, None]

#### ETL summary

You should explain how you are going to clean and prepare the data  
1. Deal with data types  
2. Create ratio  
3. Drop fiels  
4. Impute numerical missing values with median
5. Normalize numerical values  
6. Convert categories into index  
7. Convert index into onehotencoding

### 2.1 Spark code about the one explained in "ETL Summary"

In [6]:
#OWN CONSTRUCTED FUNCTIONS FOR PIPELINE

#data types
def fix_data_types(data):
    data=data.withColumn('int_rate', col('int_rate').substr(1, 4))\
             .withColumn("int_rate", col("int_rate").cast('float'))\
             .withColumn('revol_util', col('revol_util').substr(1, 4))\
             .withColumn("revol_util", col("revol_util").cast('float'))\
             .withColumn("delinq_2yrs", col("delinq_2yrs").cast('float'))\
             .withColumn("revol_bal", col("revol_bal").cast('float'))
    return data

def create_ratio(data):
    data=data.withColumn('r_ins_minc',(data['installment']/(data['annual_inc']/12)))
    return data

def drop_fields(data):
    data=data.drop('title','home_ownership')
    return data

def update_df(data, operations):
    for ops in operations:
        data=ops(data)
    return data

### 2.2 Spark code about the transformations you apply to the variables

In [7]:
#ml lib INTEGRATED FUNCTIONS FOR PIPELINE
stages=[]

#Missings values

empty_values=["delinq_2yrs","revol_bal","revol_util","total_pymnt"]
null_imputer=Imputer()\
        .setStrategy('median')\
        .setInputCols(empty_values)\
        .setOutputCols(empty_values)\


stages.append(null_imputer)

#Normalize
# normalize_list=['revol_bal','total_pymnt','annual_inc']
# for val in normalize_list:
#     normal=Normalizer(inputCol=val,outputCol=val+'_nor')
#     stages.append(normal)

#Convert categories to numbers
convert_list=['term','emp_length','STATE','purpose','loan_status']
for val in convert_list:
    if val=='loan_status':
        string_to_index = StringIndexer(inputCol = val, outputCol = val+'_index')
        stages.append(string_to_index)
    else:
        string_to_index = StringIndexer(inputCol = val, outputCol = val+'_index',handleInvalid='keep')
        stages.append(string_to_index)
    
#One hot encoding
encoder = OneHotEncoderEstimator(inputCols=["term_index",'emp_length_index','purpose_index','STATE_index'],
                                           outputCols=["term_enc",'emp_length_enc','purpose_enc','STATE_enc'])
stages.append(encoder)

### 2.3 Code to assemble the variables to a numerical vector (VectorAssembler)

In [8]:
assembler = VectorAssembler(inputCols=['loan_amnt','installment', 'annual_inc', 'delinq_2yrs', 'revol_bal', 'revol_util',\
                                        'total_pymnt','r_ins_minc','emp_length_enc','term_enc','purpose_enc','STATE_enc'],\
                            outputCol='features')
stages.append(assembler)

#### Make sure stages contain all required steps

In [9]:
stages

[Imputer_4ee899a81de7a97114f0,
 StringIndexer_46478ca9cc9765aef391,
 StringIndexer_4c83b34edf7498ddaff3,
 StringIndexer_40719376c3b529b0ce7b,
 StringIndexer_4c6a84ef73831566b8fd,
 StringIndexer_478dbbbe5935851d78d0,
 OneHotEncoderEstimator_4fbcaa2a9f91cbcf07a5,
 VectorAssembler_423b846c9de2041b869e]

### 2.4 Create Pipeline for train and test data

In [10]:
preprocessing=[fix_data_types,create_ratio,drop_fields]
pipeline=Pipeline(stages=stages)

trainDF=update_df(loanDF,preprocessing)
model=pipeline.fit(trainDF)
trainDF1=model.transform(trainDF)

testDF=update_df(testDF,preprocessing)
testDF1=model.transform(testDF)

After all the steps applied in previous box, the **train and test dataset are cleaned and prepared** so that the models can be applied on them.

In [11]:
trainDF1.toPandas().head(10)

,ID,loan_amnt,term,int_rate,installment,emp_length,annual_inc,purpose,STATE,delinq_2yrs,...,term_index,emp_length_index,STATE_index,purpose_index,loan_status_index,term_enc,emp_length_enc,purpose_enc,STATE_enc,features
0,2,2500,60 months,15.20,59.83,< 1 year,30000.0,car,GA,0.0,...,1.0,1.0,7.0,6.0,1.0,"(0.0, 1.0)","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(2500.0, 59.83, 30000.0, 0.0, 1687.0, 0.090000..."
1,4,10000,36 months,13.40,339.31,10+ years,49200.0,other,CA,0.0,...,0.0,0.0,0.0,2.0,0.0,"(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(10000.0, 339.31, 49200.0, 0.0, 5598.0, 0.2099..."
2,5,3000,60 months,12.60,67.79,1 year,80000.0,other,OR,0.0,...,1.0,6.0,24.0,2.0,0.0,"(0.0, 1.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(3000.0, 67.79, 80000.0, 0.0, 27783.0, 0.52999..."
3,6,5000,36 months,7.90,156.46,3 years,36000.0,wedding,AZ,0.0,...,0.0,3.0,12.0,7.0,0.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(5000.0, 156.46, 36000.0, 0.0, 7963.0, 0.28000..."
4,7,7000,60 months,15.90,170.08,8 years,47004.0,debt_consolidation,NC,0.0,...,1.0,9.0,15.0,0.0,0.0,"(0.0, 1.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(7000.0, 170.08, 47004.0, 0.0, 17726.0, 0.8500..."
5,8,3000,36 months,18.60,109.43,9 years,48000.0,car,CA,0.0,...,0.0,10.0,0.0,6.0,0.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(3000.0, 109.43, 48000.0, 0.0, 8221.0, 0.87000..."
6,10,5375,60 months,12.60,121.45,< 1 year,15000.0,other,TX,0.0,...,1.0,1.0,3.0,2.0,1.0,"(0.0, 1.0)","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(5375.0, 121.45, 15000.0, 0.0, 9279.0, 0.36000..."
7,11,6500,60 months,14.60,153.45,5 years,72000.0,debt_consolidation,AZ,0.0,...,1.0,5.0,12.0,0.0,0.0,"(0.0, 1.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(6500.0, 153.45, 72000.0, 0.0, 4032.0, 0.20000..."
8,12,12000,36 months,12.60,402.54,10+ years,75000.0,debt_consolidation,CA,0.0,...,0.0,0.0,0.0,0.0,0.0,"(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(12000.0, 402.54, 75000.0, 0.0, 23336.0, 0.670..."
9,14,3000,36 months,9.91,96.68,3 years,15000.0,credit_card,IL,0.0,...,0.0,3.0,5.0,1.0,0.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(3000.0, 96.68, 15000.0, 0.0, 7323.0, 0.430000..."

In [12]:
testDF1.toPandas().head(10)

,ID,loan_amnt,term,int_rate,installment,emp_length,annual_inc,purpose,STATE,delinq_2yrs,...,term_index,emp_length_index,STATE_index,purpose_index,loan_status_index,term_enc,emp_length_enc,purpose_enc,STATE_enc,features
0,1,5000,36 months,10.600000,162.87,10+ years,24000.0,credit_card,AZ,0.0,...,0.0,0.0,12.0,1.0,1.0,"(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(5000.0, 162.87, 24000.0, 0.0, 13648.0, 0.8399..."
1,3,2400,36 months,15.900000,84.33,10+ years,12252.0,small_business,IL,0.0,...,0.0,0.0,5.0,5.0,1.0,"(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(2400.0, 84.33, 12252.0, 0.0, 2956.0, 0.990000..."
2,9,5600,60 months,21.200001,152.39,4 years,40000.0,small_business,CA,0.0,...,1.0,4.0,0.0,5.0,1.0,"(0.0, 1.0)","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(5600.0, 152.39, 40000.0, 0.0, 5210.0, 0.33000..."
3,13,9000,36 months,13.400000,305.38,< 1 year,30000.0,debt_consolidation,VA,0.0,...,0.0,1.0,8.0,0.0,1.0,"(1.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(9000.0, 305.38, 30000.0, 0.0, 10452.0, 0.9200..."
4,15,10000,36 months,10.600000,325.74,3 years,100000.0,other,CA,0.0,...,0.0,3.0,0.0,2.0,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(10000.0, 325.74, 100000.0, 0.0, 11997.0, 0.56..."
5,18,3600,36 months,6.030000,109.57,10+ years,110000.0,major_purchase,CT,0.0,...,0.0,0.0,16.0,4.0,1.0,"(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(3600.0, 109.57, 110000.0, 0.0, 22836.0, 0.159..."
6,26,15000,36 months,9.910000,483.38,2 years,92000.0,credit_card,IL,0.0,...,0.0,2.0,5.0,1.0,1.0,"(1.0, 0.0)","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(15000.0, 483.38, 92000.0, 0.0, 13707.0, 0.939..."
7,27,15000,36 months,14.200000,514.64,9 years,60000.0,debt_consolidation,NY,0.0,...,0.0,10.0,1.0,0.0,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(15000.0, 514.64, 60000.0, 0.0, 5872.0, 0.5799..."
8,29,4000,36 months,11.700000,132.31,10+ years,106000.0,debt_consolidation,FL,1.0,...,0.0,0.0,2.0,0.0,1.0,"(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(4000.0, 132.31, 106000.0, 1.0, 6110.0, 0.3799..."
9,31,4375,36 months,7.510000,136.11,7 years,17108.0,debt_consolidation,NY,0.0,...,0.0,8.0,1.0,0.0,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(4375.0, 136.11, 17108.0, 0.0, 11210.0, 0.8700..."

#### Split train set into training and validation

In [13]:
(trainingData, validationData) = trainDF1.randomSplit([0.7, 0.3], seed=100)
print(trainingData.count())
print(validationData.count())

20882
8873

### 3. Logistic Regresion Model

### 3.1 Write a function "metrics" which has a LogisticRegressionModel.summary as input attribute and produces an output of: 
1. Area under ROC
2. False Positive Rate By Label
3. True Positive Rate By Label
4. Precision By Label
5. Recall By Label
6. fMeasure By Label
7. Accuracy
8. False Positive Rate
9. True Positive Rate
10. fMeasure
11. Precision
12. Recall

In [14]:
#The fitted model from a Pipeline is a PipelineModel
def metrics(trainingSummary):
    '''This function takes a model that has been fitted (logisticregressionModel) and extracts all metrics'''
    print("1. Area under ROC: "+str(trainingSummary.areaUnderROC))
    print("2. False Positive Rate by Label: "+str(trainingSummary.falsePositiveRateByLabel))
    print("3. True Positive Rate by Label: "+str(trainingSummary.truePositiveRateByLabel))
    print("4. Precision by Label: "+str(trainingSummary.precisionByLabel))
    print("5. Recall by Label: "+str(trainingSummary.recallByLabel))
    print("6. F measure by Label: "+str(trainingSummary.fMeasureByLabel))
    print("7. Accuracy: "+str(trainingSummary.accuracy))
    print("8. False Positive Rate: "+str(trainingSummary.weightedFalsePositiveRate))
    print("9. True Positive Rate: "+str(trainingSummary.weightedTruePositiveRate))
    print("10. F measure: "+str(trainingSummary.weightedFMeasure))
    print("11. Precision: "+str(trainingSummary.weightedPrecision))
    print("12. Recall: "+str(trainingSummary.weightedRecall))

### 3.2 Apply a Logistic Regresion Base Model and show the metrics by the function above

In [15]:
lr = LogisticRegression() \
        .setFeaturesCol("features") \
        .setLabelCol("loan_status_index")

lr_model=lr.fit(trainingData)
#print(lr_model.explainParams())
metrics(lr_model.summary)

1. Area under ROC: 0.9211250801809421
2. False Positive Rate by Label: [0.38058705803869247, 0.008051889957503914]
3. True Positive Rate by Label: [0.9919481100424961, 0.6194129419613076]
4. Precision by Label: [0.9395688787670144, 0.9280359820089955]
5. Recall by Label: [0.9919481100424961, 0.6194129419613076]
6. F measure by Label: <bound method LogisticRegressionSummary.fMeasureByLabel of <pyspark.ml.classification.BinaryLogisticRegressionTrainingSummary object at 0x0000029F72C3AFD0>>
7. Accuracy: 0.9384637486830764
8. False Positive Rate: 0.3271026966792727
9. True Positive Rate: 0.9384637486830764
10. F measure: <bound method LogisticRegressionSummary.weightedFMeasure of <pyspark.ml.classification.BinaryLogisticRegressionTrainingSummary object at 0x0000029F72C3AFD0>>
11. Precision: 0.9379131166522485
12. Recall: 0.9384637486830764

### 3.2 We are going to try to improve our model:
1. Using a `weight column` in our Logistic Regression Model (Take into account we are working with a unbalanced dataset)
2. Define a `ParamGridBuilder` with `regParam`, `elasticNetParam` and `maxIter` at least
3. Define an `BinaryClassificationEvaluator`
4. Using Cross Validation with a 5-fold `CrossValidator`

Questions to answer:
1. Have we improved the ROC-AUC?
2. Which are the average ROC-AUC measurements in the different cross validation runs?
3. Which are the parameters of the best model in the 5 k-fold runs?
4. Which are the metrics of the best model (training) in the 5 k-fold runs? (Use the function above)
5. Which is the ROC-AUC on validation dataset?

#### Adding WeightCols

In [16]:
def col_weigths (dataset):
    data=dataset.toPandas()
    counts, bin_edges = np.histogram(data['loan_status_index'], bins=2)
    proportion_loan_status_index=pd.DataFrame(counts,index=[0,1],columns=['count'])
    proportion_loan_status_index['proportion']=(proportion_loan_status_index['count']/proportion_loan_status_index['count'].sum())
    proportion_loan_status_index
    
    proportion_zeros=proportion_loan_status_index.loc[0,'count']
    proportion_ones=proportion_loan_status_index.loc[1,'proportion']
    
    balancing_ratio=proportion_zeros/dataset.count()
    #print(balancing_ratio,proportion_zeros,dataset.count())
    dataset=dataset.withColumn("classWeights", f.when(dataset.loan_status_index == 1.0,balancing_ratio).otherwise(1-balancing_ratio))
    
    return dataset

In [17]:
trainingData2=col_weigths(trainingData)
validationData2=col_weigths(validationData)

In [18]:
trainingData2.dtypes

[('ID', 'int'),
 ('loan_amnt', 'int'),
 ('term', 'string'),
 ('int_rate', 'float'),
 ('installment', 'double'),
 ('emp_length', 'string'),
 ('annual_inc', 'double'),
 ('purpose', 'string'),
 ('STATE', 'string'),
 ('delinq_2yrs', 'float'),
 ('revol_bal', 'float'),
 ('revol_util', 'float'),
 ('total_pymnt', 'double'),
 ('loan_status', 'int'),
 ('r_ins_minc', 'double'),
 ('term_index', 'double'),
 ('emp_length_index', 'double'),
 ('STATE_index', 'double'),
 ('purpose_index', 'double'),
 ('loan_status_index', 'double'),
 ('term_enc', 'vector'),
 ('emp_length_enc', 'vector'),
 ('purpose_enc', 'vector'),
 ('STATE_enc', 'vector'),
 ('features', 'vector'),
 ('classWeights', 'double')]

In [19]:
lr2= LogisticRegression(featuresCol='features', labelCol="loan_status_index",\
                        weightCol='classWeights')
#1. Grid Search
# Adjust these parameters
lr_paramGrid = ParamGridBuilder() \
                .addGrid(lr2.regParam, [0.01, 0.5]) \
                .addGrid(lr2.elasticNetParam, [0.0,1.0]) \
                .addGrid(lr2.maxIter, [5,10]) \
                .build()

#2. Evaluator
evaluator = BinaryClassificationEvaluator() \
                .setLabelCol("loan_status_index") \
                .setRawPredictionCol("rawPrediction")

#3. Cross-validation: Create 5-fold CrossValidator

lr_cv = CrossValidator(estimator=lr2, estimatorParamMaps=lr_paramGrid, evaluator=evaluator, numFolds=5)
# Run cross validations
lr_cvModel = lr_cv.fit(trainingData2)

# this will likely take a fair amount of time because of the amount of models that we're creating and testing
predict_train=lr_cvModel.transform(trainingData2)
predict_val=lr_cvModel.transform(validationData2)
print("The area under ROC for train set after CV  is {}".format(evaluator.evaluate(predict_train)))
print("The area under ROC for validation set after CV  is {}".format(evaluator.evaluate(predict_val)))

# Evaluating CV model
print("AUC: " + str(evaluator.evaluate(predict_train)))
# Means of model accuracy
print("Means of metrics: " + str(lr_cvModel.avgMetrics[0]))

The area under ROC for train set after CV  is 0.9036874131699866
The area under ROC for validation set after CV  is 0.8932894689437012
AUC: 0.9036874131699866
Means of metrics: 0.8704738398509843

### 4. Random Forest Model
1. Define a `ParamGridBuilder` with `maxDepth`, `numTrees` and `maxIter` at least
2. Define an `BinaryClassificationEvaluator` (You can use the above one)
3. Using Cross Validation with a 5-fold `CrossValidator`

Questions to answer:

1. Have we improved the ROC-AUC?
2. Which are the average ROC-AUC measurements in the different cross validation runs?
3. Which are the parameters of the best model in the 5 k-fold runs?
4. Which is the importance of the features?
5. Print full description of model.
6. Which is the ROC-AUC on validation dataset?

In [20]:
#1. Define estimator
rf=RandomForestClassifier(featuresCol='features', labelCol="loan_status_index")

#1. Grid Search
# Adjust these parameters: ######Preguntar maxIter()
rf_paramGrid = ParamGridBuilder() \
                .addGrid(rf.maxDepth, [3,5]) \
                .addGrid(rf.numTrees, [10,15]) \
                .build()

#2. Evaluator
evaluator = BinaryClassificationEvaluator() \
                .setLabelCol("loan_status_index") \
                .setRawPredictionCol("rawPrediction")

#3. Cross-validation: Create 5-fold CrossValidator

rf_cv = CrossValidator(estimator=rf, estimatorParamMaps=rf_paramGrid, evaluator=evaluator, numFolds=5)
# Run cross validations
rf_cvModel = rf_cv.fit(trainingData)

# this will likely take a fair amount of time because of the amount of models that we're creating and testing
predict_train_rf=rf_cvModel.transform(trainingData)
predict_val_rf=rf_cvModel.transform(validationData)
print("The area under ROC for train set after CV  is {}".format(evaluator.evaluate(predict_train_rf)))
print("The area under ROC for validation set after CV  is {}".format(evaluator.evaluate(predict_val_rf)))

# Evaluating CV model
print("AUC: " + str(evaluator.evaluate(predict_train_rf)))
# Means of model accuracy
print("Means of metrics: " + str(rf_cvModel.avgMetrics[0]))

The area under ROC for train set after CV  is 0.8170354641855483
The area under ROC for validation set after CV  is 0.7906958078340633
AUC: 0.8170354641855483
Means of metrics: 0.786039138135536

### 5. Gradient Boosting Model
1. Defining a `ParamGridBuilder` with `maxDepth`, `numTrees` and `maxIter` at least (You can use the above one)
2. Define an `BinaryClassificationEvaluator` (You can use the above one)
3. Using Cross Validation with a 5-fold `CrossValidator`

Questions to answer:

1. Have we improved the ROC-AUC?
2. Which are the average ROC-AUC measurements in the different cross validation runs?
3. Which are the parameters of the best model in the 5 k-fold runs?
4. Which is the importance of the features?
5. Print full description of model.
6. Which is the ROC-AUC on validation dataset?

In [21]:
#1. Define estimator
gb=GBTClassifier(featuresCol='features', labelCol="loan_status_index")

#1. Grid Search
# Adjust these parameters: ######Preguntar numTrees()
gb_paramGrid = ParamGridBuilder() \
                .addGrid(gb.maxDepth, [3,5]) \
                .addGrid(gb.maxIter, [10,15]) \
                .build()

#2. Evaluator
evaluator = BinaryClassificationEvaluator() \
                .setLabelCol("loan_status_index") \
                .setRawPredictionCol("rawPrediction")

#3. Cross-validation: Create 5-fold CrossValidator

gb_cv = CrossValidator(estimator=gb, estimatorParamMaps=gb_paramGrid, evaluator=evaluator, numFolds=5)
# Run cross validations
gb_cvModel = gb_cv.fit(trainingData)

# this will likely take a fair amount of time because of the amount of models that we're creating and testing
predict_train_gb=gb_cvModel.transform(trainingData)
predict_val_gb=gb_cvModel.transform(validationData)
print("The area under ROC for train set after CV  is {}".format(evaluator.evaluate(predict_train_gb)))
print("The area under ROC for validation set after CV  is {}".format(evaluator.evaluate(predict_val_gb)))

# Evaluating CV model
print("AUC: " + str(evaluator.evaluate(predict_train_gb)))
# Means of model accuracy
print("Means of metrics: " + str(gb_cvModel.avgMetrics[0]))

The area under ROC for train set after CV  is 0.9549841174963601
The area under ROC for validation set after CV  is 0.9369778765806669
AUC: 0.9549841174963601
Means of metrics: 0.910297064092215

### 6. Apply your best model to send the predictions on test

In [22]:
#When we obtain the results from above, we have to decide what model we choose for the final prediction on the testDF1
testData2=col_weigths(testDF1)

bestPipelineModel = lr_cvModel.bestModel
finalpred = bestPipelineModel.transform(testData2)

In [23]:
finalpred.toPandas()

,ID,loan_amnt,term,int_rate,installment,emp_length,annual_inc,purpose,STATE,delinq_2yrs,...,loan_status_index,term_enc,emp_length_enc,purpose_enc,STATE_enc,features,classWeights,rawPrediction,probability,prediction
0,1,5000,36 months,10.600000,162.87,10+ years,24000.0,credit_card,AZ,0.0,...,1.0,"(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(5000.0, 162.87, 24000.0, 0.0, 13648.0, 0.8399...",0.0,"[-0.1645910172916846, 0.1645910172916846]","[0.4589448864707543, 0.5410551135292456]",1.0
1,3,2400,36 months,15.900000,84.33,10+ years,12252.0,small_business,IL,0.0,...,1.0,"(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(2400.0, 84.33, 12252.0, 0.0, 2956.0, 0.990000...",0.0,"[-1.305785343639936, 1.305785343639936]","[0.21319296324787138, 0.7868070367521286]",1.0
2,9,5600,60 months,21.200001,152.39,4 years,40000.0,small_business,CA,0.0,...,1.0,"(0.0, 1.0)","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(5600.0, 152.39, 40000.0, 0.0, 5210.0, 0.33000...",0.0,"[-3.0285202389189005, 3.0285202389189005]","[0.04615392792603417, 0.9538460720739658]",1.0
3,13,9000,36 months,13.400000,305.38,< 1 year,30000.0,debt_consolidation,VA,0.0,...,1.0,"(1.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(9000.0, 305.38, 30000.0, 0.0, 10452.0, 0.9200...",0.0,"[-2.766906330366023, 2.766906330366023]","[0.059138915305775516, 0.9408610846942245]",1.0
4,15,10000,36 months,10.600000,325.74,3 years,100000.0,other,CA,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(10000.0, 325.74, 100000.0, 0.0, 11997.0, 0.56...",0.0,"[0.009396757085013883, -0.009396757085013883]","[0.5023491719854756, 0.49765082801452437]",0.0
5,18,3600,36 months,6.030000,109.57,10+ years,110000.0,major_purchase,CT,0.0,...,1.0,"(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(3600.0, 109.57, 110000.0, 0.0, 22836.0, 0.159...",0.0,"[1.124350812043257, -1.124350812043257]","[0.7547948553072944, 0.24520514469270555]",0.0
6,26,15000,36 months,9.910000,483.38,2 years,92000.0,credit_card,IL,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(15000.0, 483.38, 92000.0, 0.0, 13707.0, 0.939...",0.0,"[1.0660937591981419, -1.0660937591981419]","[0.7438533473390029, 0.2561466526609972]",0.0
7,27,15000,36 months,14.200000,514.64,9 years,60000.0,debt_consolidation,NY,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(15000.0, 514.64, 60000.0, 0.0, 5872.0, 0.5799...",0.0,"[-4.104734980809904, 4.104734980809904]","[0.016226739427071722, 0.9837732605729284]",1.0
8,29,4000,36 months,11.700000,132.31,10+ years,106000.0,debt_consolidation,FL,1.0,...,1.0,"(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(4000.0, 132.31, 106000.0, 1.0, 6110.0, 0.3799...",0.0,"[0.755465097447981, -0.755465097447981]","[0.6803683486494366, 0.31963165135056343]",0.0
9,31,4375,36 months,7.510000,136.11,7 years,17108.0,debt_consolidation,NY,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(4375.0, 136.11, 17108.0, 0.0, 11210.0, 0.8700...",0.0,"[-0.6236612103145218, 0.6236612103145218]","[0.3489492249391456, 0.6510507750608544]",1.0
10,33,10000,60 months,15.900000,242.97,2 years,29120.0,debt_consolidation,FL,0.0,...,1.0,"(0.0, 1.0)","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(10000.0, 242.97, 29120.0, 0.0, 16158.0, 0.639...",0.0,"[-0.0071375086601676505, 0.0071375086601676505]","[0.49821563041019973, 0.5017843695898002]",1.0
11,35,7000,36 months,15.900000,245.97,7 years,34000.0,credit_card,CA,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(7000.0, 245.97, 34000.0, 0.0, 6113.0, 0.61000...",0.0,"[0.3804494403040355, -0.3804494403040355]","[0.5939814978954806, 0.40601850210451945]",0.0
12,36,12400,36 months,10.600000,403.91,10+ years,41000.0,credit_card,KY,0.0,...,1.0,"(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(12400.0, 403.91, 41000.0, 0.0, 11095.0, 0.569...",0.0,"[0.7351325078908276, -0.7351325078908276]","[0.675930554049359, 0.32406944595064113]",0.0
13,43,3000,36 months,18.200001,108.84,9 years,65000.0,None,None,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(3000.0, 108.84, 65000.0, 0.0, 8815.0, 0.5, 99...",0.0,"[2.466483230358511, -2.466483230358511]","[0.9217585121896342, 0.07824148781036573]",0.0
14,44,4400,36 months,16.700001,156.37,10+ years,55000.0,debt_consolidation,RI,0.0,...,1.0,"(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(4400.0, 156.37, 55000.0, 0.0, 25237.0, 0.9900...",0.0,"[0.1718962701691425, -0.1718962701691425]","[0.542868561631125, 0.457131438368875]",0.0
15,45,6000,36 months,6.030000,182.62,10+ years,45600.0,debt_consolidation,LA,0.0,...,1.0,"(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(6000.0, 182.62, 45600.0, 0.0, 3378.0, 0.33000...",0.0,"[0.5559042795133905, -0.5559042795133905]","[0.6355043409949338, 0.36449565900506614]",0.0
16,49,10000,36 months,6.030000,304.36,10+ years,60000.0,credit_card,CT,0.0,...,1.0,"(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(10000.0, 304.36, 60000.0, 0.0, 14019.0, 0.200...",0.0,"[1.1322562097180815, -1.1322562097180815]","[0.7562550342254879, 0.24374496577451207]",0.0
17,58,10000,36 months,12.400000,334.16,< 1 year,39000.0,debt_consolidation,OR,0.0,...,1.0,"(1.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(10000.0, 334.16, 39000.0, 0.0, 12874.0, 0.730...",0.0,"[0.24647672967060058, -0.24647672967060058]","[0.5613091148587135, 0.4386908851412865]",0.0
18,66,3500,36 months,10.600000,114.01,7 years,55000.0,debt_consolidation,OH,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(3500.0, 114.01, 55000.0, 0.0, 6611.0, 0.46000...",0.0,"[0.6482680290294235, -0.6482680290294235]","[0.6566200609061927, 0.34337993909380726]",0.0
19,69,8200,60 months,21.200001,223.14,4 years,75000.0,small_business,CA,0.0,...,1.0,"(0.0, 1.0)","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(8200.0, 223.14, 75000.0, 0.0, 9012.0, 0.74000...",0.0,"[-2.7081174837427366, 2.7081174837427366]","[0.06249605777382712, 0.9375039422261728]",1.0
20,74,12000,36 months,16.700001,426.47,3 years,50000.0,credit_card,MA,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(12000.0, 426.47, 50000.0, 0.0, 11443.0, 0.970...",0.0,"[0.8680217327820541, -0.8680217327820541]","[0.7043338950766179, 0.2956661049233821]",0.0
21,75,14400,36 months,8.900000,457.25,< 1 year,150000.0,debt_consolidation,NY,0.0,...,1.0,"(1.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(14400.0, 457.25, 150000.0, 0.0, 63864.0, 0.55...",0.0,"[1.8900969146859934, -1.8900969146859934]","[0.8687665803169174, 0.13123341968308255]",0.0
22,78,7250,60 months,21.600000,197.51,< 1 year,75000.0,debt_consolidation,CA,0.0,...,1.0,"(0.0, 1.0)","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(7250.0, 197.51, 75000.0, 0.0, 21706.0, 0.9100...",0.0,"[-0.9430096022905244, 0.9430096022905244]","[0.2802928180073059, 0.7197071819926941]",1.0
23,80,18000,60 months,19.900000,475.99,10+ years,65000.0,debt_consolidation,FL,0.0,...,1.0,"(0.0, 1.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(18000.0, 475.99, 65000.0, 0.0, 11745.0, 0.779...",0.0,"[1.9329545200635734, -1.9329545200635734]","[0.8735760800790249, 0.1264239199209752]",0.0
24,81,35000,60 months,17.200001,551.84,3 years,150000.0,home_improvement,NY,0.0,...,1.0,"(0.0, 1.0)","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(35000.0, 551.84, 150000.0, 0.0, 7334.0, 0.529...",0.0,"[1.95792161361759, -1.95792161361759]","[0.87630784727691, 0.12369215272308991]",0.0
25,83,11800,36 months,12.600000,395.83,6 years,42000.0,credit_card,NY,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(11800.0, 395.83, 42000.0, 0.0, 8940.0, 0.75, ...",0.0,"[0.6781454361191505, -0.6781454361191505]","[0.6633246523494818, 0.3366753476505182]",0.0
26,90,12000,36 months,13.400000,407.17,4 years,72000.0,debt_consolidation,CA,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(12000.0, 407.17, 72000.0, 0.0, 3419.0, 0.2800...",0.0,"[1.3687649691901413, -1.3687649691901413]","[0.7971805424748849, 0.20281945752511504]",0.0
27,93,8200,60 months,19.400000,214.62,3 years,120000.0,debt_consolidation,NY,0.0,...,1.0,"(0.0, 1.0)","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(8200.0, 214.62, 120000.0, 0.0, 10392.0, 0.879...",0.0,"[0.3155698773127417, -0.3155698773127417]","[0.5782442195272065, 0.42175578047279355]",0.0
28,94,10500,36 months,12.600000,352.23,10+ years,66000.0,medical,CA,1.0,...,1.0,"(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(10500.0, 352.23, 66000.0, 1.0, 5790.0, 0.5099...",0.0,"[0.5972498451089828, -0.5972498451089828]","[0.6450268623836617, 0.3549731376163383]",0.0
29,97,20000,60 months,11.700000,282.86,4 years,47800.0,debt_consolidation,VA,0.0,...,1.0,"(0.0, 1.0)","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(20000.0, 282.86, 47800.0, 0.0, 16447.0, 0.460...",0.0,"[-0.27121043811143714, 0.27121043811143714]","[0.4326099584101638, 0.5673900415898362]",1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,39719,12750,36 months,15.300000,444.05,1 year,60000.0,credit_card,NY,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(12750.0, 444.05, 60000.0, 0.0, 33074.0, 0.689...",0.0,"[0.6471797655817225, -0.6471797655817225]","[0.6563746481714228, 0.3436253518285773]",0.0
9995,39721,3000,36 months,8.700000,94.98,5 years,62000.0,home_improvement,FL,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(3000.0, 94.98, 62000.0, 0.0, 3678.0, 0.310000...",0.0,"[0.7062332944544133, -0.7062332944544133]","[0.6695683220031338, 0.33043167799686624]",0.0
9996,39725,3000,36 months,7.750000,93.67,10+ years,125000.0,home_improvement,WA,0.0,...,1.0,"(1.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(3000.0, 93.67, 125000.0, 0.0, 21050.0, 0.0099...",0.0,"[1.003283990827812, -1.003283990827812]","[0.7317037602754486, 0.2682962397245515]",0.0
9997,39729,15450,36 months,11.200000,507.46,2 years,40000.0,debt_consolidation,VA,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(15450.0, 507.46, 40000.0, 0.0, 6513.0, 0.3400...",0.0,"[-1.075887523487474, 1.075887523487474]","[0.25428505327485545, 0.7457149467251445]",1.0
9998,39730,2500,36 months,12.800000,84.00,< 1 year,32000.0,home_improvement,NE,0.0,...,1.0,"(1.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(2500.0, 84.0, 32000.0, 0.0, 3408.0, 0.3499999...",0.0,"[0.32834634670066815, -0.32834634670066815]","[0.5813569632054492, 0.4186430367945508]",0.0
9999,39731,2500,36 months,9.640000,80.26,< 1 year,75000.0,home_improvement,NE,0.0,...,1.0,"(1.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(2500.0, 80.26, 75000.0, 0.0, 269.0, 0.0399999...",0.0,"[0.837920308502918, -0.837920308502918]","[0.6980270282336024, 0.30197297176639754]",0.0
10000,39734,7500,36 months,8.070000,235.25,1 year,150000.0,home_improvement,MA,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(7500.0, 235.25, 150000.0, 0.0, 23678.0, 0.239...",0.0,"[1.226003355818813, -1.226003355818813]","[0.7731183026487848, 0.2268816973512153]",0.0
10001,39740,3500,36 months,9.960000,112.87,1 year,78000.0,other,NJ,1.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(3500.0, 112.87, 78000.0, 1.0, 16310.0, 0.2099...",0.0,"[0.9093133157444676, -0.9093133157444676]","[0.7128596253639791, 0.28714037463602093]",0.0
10002,39747,12000,36 months,11.800000,397.75,1 year,65000.0,debt_consolidation,NY,2.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(12000.0, 397.75, 65000.0, 2.0, 11868.0, 0.720...",0.0,"[1.0198018357617142, -1.0198018357617142]","[0.7349339976778515, 0.26506600232214844]",0.0
10003,39748,5000,36 months,7.430000,155.38,< 1 year,45000.0,credit_card,WI,0.0,...,1.0,"(1.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(5000.0, 155.38, 45000.0, 0.0, 1783.0, 0.5, 55...",0.0,"[0.7453415180465929, -0.7453415180465929]","[0.6781627931389181, 0.3218372068610819]",0.0
10004,39760,10000,36 months,10.200000,323.98,< 1 year,27376.0,small_business,CO,0.0,...,1.0,"(1.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(10000.0, 323.98, 27376.0, 0.0, 3534.0, 0.5400...",0.0,"[-0.4984471975831388, 0.4984471975831388]","[0.3779056524606076, 0.6220943475393924]",1.0
10005,39761,5000,36 months,9.010000,159.03,1 year,73000.0,credit_card,VA,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(5000.0, 159.03, 73000.0, 0.0, 23489.0, 0.3799...",0.0,"[1.017739995521917, -1.017739995521917]","[0.7345321442796279, 0.2654678557203721]",0.0
10006,39762,5100,36 months,8.380000,160.72,4 years,32000.0,vacation,IN,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(5100.0, 160.72, 32000.0, 0.0, 4737.0, 0.23999...",0.0,"[0.5889270048809679, -0.5889270048809679]","[0.6431189129351814, 0.3568810870648186]",0.0
10007,39763,5400,36 months,7.750000,168.60,< 1 year,8000.0,educational,GA,0.0,...,1.0,"(1.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(5400.0, 168.6, 8000.0, 0.0, 1321.0, 0.1700000...",0.0,"[-1.9450254785827585, 1.9450254785827585]","[0.12509679293781809, 0.8749032070621818]",1.0
10008,39764,5300,36 months,8.380000,167.02,7 years,74000.0,credit_card,IN,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(5300.0, 167.02, 74000.0, 0.0, 6844.0, 0.14000...",0.0,"[1.296611186366264, -1.296611186366264]","[0.7852640988214857, 0.21473590117851427]",0.0
10009,39765,5000,36 months,11.200000,164.23,1 year,30000.0,credit_card,GA,0.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...","(5000.0, 164.23, 30000.0, 0.0, 15840.0, 0.4699...",0.0,"[0.4575315557933744, -0.4575315557933744]","[0.6124284294528153, 0.3875715705471847]",0.0
10010,39766,3000,36 months,10.200000,97.20,2 years,200000.0,home_improvement,NY,1.0,...,1.0,"(1.0, 0.0)","(0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(3000.0, 97.2, 200000.0, 1.0, 0.0, 0.5, 3498.8...",0.0,"[0.6876666914161712, -0.6876666914161712]","[0.6654476697915391, 0.33455233020846087]",0.0
10011,39767,3000,36 months,8.700000,94.98,< 1 year,25000.0,small_business,MA,0.0,...,1.0,"(1.0, 0.0)","(0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...","(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","(3000.0, 94.98, 25000.0, 0.0, 3660.0, 0.079999...",0.0,"[0.17901664746245738, -0.17901664746245738]","[0.5446350240815829, 0.4553649759184171]",0.0

In [24]:
def export_to_excel(data,name='Lab-15-Assignment3-groupB.csv',header=['ID','prediction'],index=False):
    df=data.toPandas()
    df.to_csv(path_or_buf='./'+name,header=header,columns=['ID','prediction'],index=index)

In [25]:
export_to_excel(finalpred)

In [26]:
sc.stop()